* {
  box-sizing: border-box;
}

:root {
  --top1: 200px;
  --top2: 150px;
  --top3: 100px;
  --top4: 50px;
  --top5: 0px;
}

.collapse-container {
  width: 595px;
  height: 260px;
  display: flex;
  flex-direction:column;
  padding: 15px 35px;
}

.collapse-btn {
  margin-bottom: 16px;
  width: 85px;
  background-color: #017bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline: 0px;
  transition: all 0.1s linear 0s;
}

.collapse-btn:hover {
  background-color: #0068d6;
  cursor: pointer;
  outline: 3px solid #93c7fe;
}

.wrapper {
  height: 150px;
  transition: height 1s ease 0s;
}

.wrapper-collapse {
  height: 0;
}

.content {
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  padding: 18px;
  margin-bottom: 10px;
}

.footer {
  background-color: #e0e0e0;
  flex-grow: 1;
  text-align: end;
  padding: 5px;
}

.callback-container {
  width: 563px;
  height: 380px;
  position: relative;
}

.callback-form {
  position: absolute;
  top: 10px;
  left: 35px;
  width: 328px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px rgba(240, 240, 240, 0.4),
  -2px -2px 2px 1px rgba(240, 240, 240, 0.4);
  transition: transform 0.1s ease 0s, opacity 0.1s ease 0s;
}

.callback-form-hidden {
  transform: scale(70%, 70%);
  opacity: 0;
}

.callback-x {
  position: absolute;
  border: none;
  background-color: inherit;
  top: 15px;
  left: 290px;
  cursor: pointer;
}

.callback-form-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.callback-form-text {
  box-sizing: border-box;
  min-height: 202px;
  min-width: 100%;
  max-width: 100%;
  margin-top: 12px;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

.callback-form-submit {
  margin-top: 10px;
  padding: 10px 0;
  border: 1px solid #cccccc;
  border-radius: 10px;
  background-color: #f0f0f0;
  color: #000;
}

.red-btn {
  position: absolute;
  top: 298px;
  left: 334px;
  background-color: #fe0000;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  transform: scale(1.0, 1.0);
  transition: transform 0.1s ease 0s, opacity 0.3s ease 0s;
}

.red-btn:hover {
  transform: scale(1.2, 1.2);
}

.hidden-red-btn.red-btn:hover {
  transform: scale(1.0, 1.0);
}

.hidden-red-btn {
  transform: scale(1.0, 1.0);
  opacity: 0;
}

.liker-container {
  height: 260px;
  width: 316px;
  position: relative;
}

.liker-img {
  position: absolute;
  background-image: url('../svg/heart.svg');
  background-size: cover;
  width: 33px;
  height: 30px;
}

.liker-img-animation {
  animation-name: like;
  animation-duration: 0.5s;
}

@keyframes like {
  0% {
    top: var(--top1);
    left: var(--left1);
  }
  25% {
    top: var(--top2);
    left: var(--left2);
  }
  50% {
    top: var(--top3);
    left: var(--left3);
  }
  75% {
    top: var(--top4);
    left: var(--left4);
  }
  100% {
    top: var(--top5);
    left: var(--left5);
  }
}

.liker-btn {
  position: absolute;
  top: 200px;
  left: 115px;
  width: 100px;
  border-radius: 5px;
  background-color: #fe0000;
  padding: 13px;
  color: #fff;
  border: none;
  cursor: pointer;
}
